<!DOCTYPE html>
<html lang="en">
<%- include("./Components/head.ejs") %>
<body>
  <%- include("./Components/header.ejs") %>

  <h1 style="text-transform: capitalize;"><%= titleInApp %></h1>
  <div class="content-card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium iste et quos eos laudantium odit possimus, id facere suscipit minima, tempora vero. Unde, assumenda perferendis a impedit accusantium consequuntur.</p>
  </div>
  <ul style="margin-top: 2rem;">
    <% if (blogs.length) { %>
    <% blogs.map(({title , caption}) => { %>
      <h3 class="title"><%= title %></h3>
      <p class="caption"><%= caption %></p>
    <% }) %>
    <% } else { %>
      <p>there is no blog to display</p>
    <% } %>
  </ul>

  <%- include("./Components/footer.ejs") %>
</body>
</html>
